body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #40514E;
}
h1{
    font-size: 5.625rem;
    font-weight: normal;
    color:#03001C;
    /*color: #66BFBF;*/
    margin: 50px auto 0 auto;
    font-family: 'Courgette', cursive;
}
h2{
    font-size: 2.5rem;
    font-weight: normal;
    color:#03001C;
    /*color: #66BFBF;*/
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
}
h3{
    color:#03001C;
    /*color: #11999E;*/
    font-family: 'Ubuntu', sans-serif;
}

p{/*color: #301E67;*/
    line-height: 2;
}

a{/*color: #11999E;*/ color: #7FA398;}

hr{
    border: dotted #D3D3D3 6px;
    border-bottom: none;

    /*border-style: none;
    border-top-style: dotted;
    border-color: #D3D3D3;
    border-width: 10px;*/

    width: 5%;
    margin: 100px auto;
}

.top-container{
    background-color: #B6EADA;
    /*background-color: #EAF6F6;*/
    position: relative;
    padding-top: 100px;
}

.chem{text-decoration: underline;}

.top-cloud{
    position:absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position:absolute;
    left: 250px;
    bottom: 300px;
}

.middle-container{
    /*background-color: #B6EADA;*/
    /*padding-top: 50px;*/
    margin: 100px 0;
}

/*.profile{margin-bottom: 75px;}*/
.intro{width: 35%; margin: auto;}

.projects{margin-top: 75px; margin-bottom: 75px;}
.project-title:hover{
    color: #7FA398;
}
.project-text{
    color: #40514E;
}
.project-text:hover{
    color: #7FA398;
}
.project-image{
    width: 10%;
    margin: 20px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
}

.hobbies{margin-top: 75px; margin-bottom: 75px;}

.hobby-row{
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
}
.dancing{width: 25%; float: left; margin-right: 30px;}
.break-dance-link{display: block; clear: left; width: 25%; font-size: 0.75rem; text-align: center; line-height: 1; margin-top: 75px;}
.av-editing{width: 25%; float: right; margin-left: 30px;}
.video-link{display: block; clear: right; width: 25%; font-size: 0.75rem; text-align: center; line-height: 1; margin-top: 90px; margin-left: 75%}

.contact-me{margin: 75px auto 75px auto; line-height: 2;}
.contact-message{width: 40%; margin: 40px auto 60px;}

.btn{
    background: #2dd3bd;
    background-image: -webkit-linear-gradient(top, #2dd3bd, #27b49e);
    background-image: -moz-linear-gradient(top, #2dd3bd, #27b49e);
    background-image: -ms-linear-gradient(top, #2dd3bd, #27b49e);
    background-image: -o-linear-gradient(top, #2dd3bd, #27b49e);
    background-image: linear-gradient(to bottom, #2dd3bd, #27b49e);    
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
.btn:hover{
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.bottom-container{
    /*background-color: #B6EADA;*/
    background-color:#7BD9BC;
    /*background-color: #66BFBF;*/
    padding: 25px 0 2.5px;
    
}

.footer-link{
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px 0 20px;
}

.footer-link:hover{
    color: #EAF6F6;
}

.copyright{color: #ffffff; /*color: #EAF6F6;*/ font-size: 0.75rem; padding: 0 0}
